<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="style.css">
<title>Dojos & Ninjas</title>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Add a Dojo</h1>
        <form action="/add_dojo" method="post">
        <div class="form-group">
          <label for="dojo_name">Name: </label><input type="text" name="name" class="ml-2">
        </div>
        <div class="form-group">
          <label for="dojo_city">City: </label><input type="text" name="city" class="ml-2">
        </div>
        <div class="form-group">
          <label for="dojo_state">State: </label><input type="text" name="state" class="ml-2">
        </div>
        <input type="submit" value="Add">
        </form>
      </div>
      <div class="col">
        <h1>Add a Ninja</h1>
        <form action="/add_ninja" method="post">
          <div class="form-group">
            <label for="first_name">First Name: </label><input type="text" name="first_name" class="ml-2">
          </div>
          <div class="form-group">
            <label for="last_name">Last Name: </label><input type="text" name="last_name" class="ml-2">
          </div>
          <div class="form-group">
            <label for="dojo_id">Dojo</label>
            <select class="custom-select" name="id">
              <option selected></option>
              {% for dojo in dojos %}
              <option value="{{dojo.id}}">{{dojo.name}}</option>
              {% endfor %}
            </select>
          </div>
          <input type="submit" value="Add">
          </form>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <h2>All the Dojos</h2>
        <ul style="list-style: none;">
          {% for dojo in dojos %}
          <li>
            <h5>{{"Ninjas at the {} Dojo".format(dojo.name)}}</h5>
            <ul style="list-style: none;">
              {% for ninja in dojo.ninjas %}
              <li>
                <span>{{ ninja.full_name() }}</span>
              </li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>